@import url('https://fonts.googleapis.com/css?family=Raleway');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.main-nav {
  display: flex;
  min-height: 50px;
  background: #14BAEF;
  padding: 0 1rem;
  align-items: center;
  font-size: 1.5rem;
}

.hamburger{
  display: none;
}

.main-nav-list {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.main-nav-list li {
  margin-left: 1rem;
  text-align: center;
}

@media (max-width: 600px) {
  .main-nav {
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
    margin-left: auto;
    background: transparent;
    border: none;
    width: 50px;
    height: 50px;
    position: relative;
    outline: none;
  }

  .hamburger div {
    height: 7px;
    width: 50px;
    background-color: #000;
    position: absolute;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    left: 50%;
    transition: .25s;
  }

  .hamburger div:first-child {
    top: 25%;
  }

  .hamburger div:nth-child(2) {
    top: 50%;
  }

  .hamburger div:nth-child(3) {
    top: 75%;
  }

  .hamburger.close div:first-child {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburger.close div:nth-child(2) {
    opacity: 0;
  }

  .hamburger.close div:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  .main-nav-list {
    display: block;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
  }

  .main-nav-list.open {
    max-height: 500px;
  }
} /*Closes media query*/

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
